@page "/"
@using RefitWithRazorPagesDemo.Blazor.Components
@inject IProductService _productService;

<PageTitle>Home</PageTitle>

<div class="container mt-4">
    @if (!string.IsNullOrEmpty(_message))
    {
        <div class="alert alert-success" role="alert">
            @_message. Total Number of choosed items are : @_chosedProducts.Count()
        </div>

    }
    <div class="row">
        @foreach (var product in _products)
        {
            <ProductComponent product="@product" OnAddedCart="ShowMessage" />
        }
    </div>
</div>



@code {
    List<Product> _products = new List<Product>();
    protected override async Task OnInitializedAsync()
    {
        _products = await _productService.GetProducts();
        await base.OnInitializedAsync();
    }

    string _message = string.Empty;
    List<string> _chosedProducts = new List<string>();
    void ShowMessage(string productName)
    {
        _message = $"Thanks for choosing product: {productName}";
        _chosedProducts.Add(productName);
    }
}