<div class="col-sm-4 p-2">
    <div class="card">
        <div class="d-flex justify-content-center p-2">
            <img src="@product.ImageUrl" height="200" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title">@product.Name</h5>
            <p class="card-text">@product.Description.Substring(0, Math.Min(40, product.Description.Length))...</p>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Product product { get; set; }
}
